/ListaExercicios/Lista02/li02ex01/target/
/ListaExercicios/Lista02/li02ex02/target/
/ListaExercicios/Lista03/li03ex01/target/
/ListaExercicios/Lista03/li03ex02/target/
/ListaExercicios/Lista06-Revisão/lista06/target/
/ConexaoBancoDeDados/nbproject/private/
/ConexaoBancoDeDados/build/
